<section id="intro" class="copy">
<h1>Welcome to the Marketing Science Department</h1>
<p>We do stuff</p>

<section id="what" class="copy">
  <h1>What does MSD do?</h1>
  <ul>
    <li>Digital Analytics</li>
    <li>Data Science</li>
    <li>Data Integration</li>
  </ul>

<section id="who" class="copy">
  <h1>Who is MSD?</h1>
  <p>We like a lot of stuff</p>


