=render :partial => "nav"

%h1 Welcome to The Marketing Science Department

%h2 Summary : The Marketing Science Department is a...
%p We are testing...

%section.what
%h1 What we do

%h2 Summarize what we do. 

%h2 Digital Analytics
%p certified in...
%ul 
  %li Adobe Analytics
  %li Google Analytics 


%h2 Data Science
%p 

%h2 Data Integration
%p We bring your data together through a light-weight etl approach using secure and powerful cloud approaches without big license fees
%p tools we love...
%ul 
  %li MongoDB
  %li Neo4j
  %li MySQL
  %li Python
  %li Ruby
  %li Amazon Web Services 

%h2 Data Visualization
%p The key to storytelling is conveying your message clearly. The best way to do this is to translate your data into a compelling visual

// %section
%h1 Who we are

%h2 
  %p We are analysts, developers, dbas, architects, explorers, thinkers
  %p We love... our families and children, work sustainable hours, run, bike, tri, play, paint, cook, travel

// %section#work_with
%h1 Work with us

%h2 Feel free to ask us a question anytime. @ask_spacemonkey

%h2 Or send an email to jason@marketingscience.co

%h2 or call 877XXXXXX 




