<section id="intro" class="copy">
  <h1>Do you have the data you need to make marketing decisions?</h1>
  <p>We implement and support analytics tools; creating an environment where you have the dashboards, reports, insights, and answers to be more awesome.</p>
  <p>Let's make your marketing analytics environment support you.</p>
</section>

<section id="who" class="copy">
  <h1>Who we are</h1>
  <p>Developers, data scientists, and analytics geeks.</p>
  <ul>
    <li>We know data on the web, on mobile (iOS + Andriod), and on things (IoT)</li>
    <li>We know data and will put it to work for you</li>
    <li>We are our clients and partners</li>
  </ul>
</section>

<section id="what" class="copy">
  <h1>What we do</h1>
  <p>Build and support analytics and data systems of all makes and models.</p>
  <p>&nbsp;</p>
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <%= image_tag "screwdriver.png" %>
      </div>
      <div class="bullet-content">
        <h2>Tools</h2>
        <p></p>
        <ul>
          <li>Google Analytics</li>
          <li>Google Tag Manager</li>
          <li>Adobe Analytics</li>
          <li>Adobe DTM</li>
          <li>Segment</li>
          <li>Ensighten</li>
          <li>Signal</li>
        </ul>
      </div>
    </li>  
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <%= image_tag "martini.png" %>
      </div>
      <div class="bullet-content">
        <h2>Services</h2>
        <p class="topic_header">Collection</p>
        <ul>
          <li>We can collect the data you need from the web, iOS, Android.</li>
        </ul>
        <p class="topic_header">Reporting</p>
        <ul>
          <li>We can the dashboards and reports you need in Adobe Marketing Cloud, Google Analytics, Tableau or others.</li>
        </ul>
        <p class="topic_header">Analysis</p>
        <ul>
          <li>We combine math with our experience to give you analysis and insights from your data that will help you move forward.</li>
        </ul>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-3">
        <%= image_tag "math-compass.png" %>
      </div>
      <div class="bullet-content">
        <h2>Packages</h2>
        <p>We offer levels of packages for businesses and advertising agencies that provide support for your existing analytics implementation.</p>
      </div>
    </li> 
  </ul>
</section>

<section id="work_with" class="copy">
  <h1>Work with us</h1>
  <p>If you have questions on what we do or would like to discuss a project please reach out:</p>
  <p>&nbsp;</p>
  <ul>
    <li>t/ 508.936.3282</li>
    <li>e/ jason at marketingscience dot co</li>
  </ul>
  <%= render 'partials/contact_form' %>
</section>

