default: &default
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>

development:
  secret_key_base: 'blah'

test:
  secret_key_base: 'blah'
  # <<: *default

staging:
  <<: *default

production:
  <<: *default
