body,html {
  margin:0;
  padding:0;
}

p {
  margin: 0 40px 0 40px;
}
#main {
    @include outer-container;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

#intro{
  position: relative;
  background-color: white;
  display:block;
  height: 400px;
  text-align: center;
}

#what{
  background-color: white;
  display:block;
  height: 700px;
  text-align: center;
}

#who{
  background-color: PaleGreen;
  background-image:
  url(//marketingscience.co/images/graph_image_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  height: 400px;
  text-align: center;
}

#work_with{
  background-color: PaleGreen;
  background-image:
  url(//marketingscience.co/images/graph_image_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  height: 350px;
  text-align: center;
}

.copy{
  padding-top: 100px;
}
