body,html {
  margin:0;
  padding:0;
}

p {
  margin: 0 40px 0 40px;
}
#main {
    @include outer-container;
}

ol {
  font-size: 1em;
  font-weight: 500;

  li {
    margin: .5em 0;

    span {
      display: inline-block;

      &:before {
        content: '/';
        margin: 0 .3em;
      }
    }
  }
}

#intro{
  position: relative;
  background-color: white;
  display:block;
  height: 400px;
  text-align: center;
}

#what{
  background-color: white;
  display:block;
  height: 700px;
  text-align: center;
}

#who{
  background-color: PaleGreen;
  background-image: image_url("graph_image_background_paleGreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  height: 400px;
  text-align: center;
}

#work_with{
  background-color: PaleGreen;
  background-image: image_url("math_image_background_paleGreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  //height: 350px;
  text-align: center;
  .contact_form_wrapper {
    @include outer-container;
    padding-top: 1em;
    padding-bottom: 1em;
    .contact_form_on_main_page {
      @include span-columns(8);
      @include shift(2);
      h1 {
        text-align: center;
      }
      .float-right {
        float: right;
      }
      .error-messages {
        margin: 0 40px 0 40px;
        color: red;
        background-color: white;
        border: solid 1px red;
        padding: 1em;
        display: none;
      }
    }
  }
}

.copy{
  padding-top: 100px;
}

#packages-overview{
  background-color: white;
  display:block;
  height: 300px;
  text-align: center;
}

#packages-cards{
  display:block;
  height:700px; 
}
